@{
    ViewData["Title"] = "Savefiles";
    <link rel="stylesheet" href="~/css/UpLoadPage.css" />
}

<div class="text-center">
    <h1 class="display-4">Upload your files</h1>
    <div id="drop-zone" class="drop-zone">
        <span>Drag and drop files here or click to select files</span>
    </div>
    <div id="stagingArea" class="mb-2"></div>

    <span class="text-success">
        @if (TempData["Message"] != null)
        {
            @TempData["Message"]
        }
    </span>

    
</div>

@* <button id="upload-button" class="btn btn-primary btn-lg fixed-bottom-right">Upload</button> *@

@* 
<script>
    setTimeout(function () {
        document.querySelector('.text-success').remove();
    }, 5000); // 5000 milliseconds = 5 seconds
</script> *@

<script scr="~/js/site.js"></script>